html {
    background: white;
}

body {
    font-size: 17px;
    line-height: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    display: flex;
}

h1 {
    margin-left: 300px;
    margin-top: 0px;
    margin-right: 250px;
    color: white;
    font-size: 40px;
    background-color: lightseagreen;
    padding: 45px 25px;
    margin-bottom: 0px;
}

nav {
    padding: 30px;
    display: inline;
}

li {
    display: inline;
    padding: 15px;
}

ul a {
    color: #999;
    text-decoration: none;
}

ul a:hover {
    color: #666;
}

hr {
    margin-top: 0px;
    background-color: #c9c4c4;
    height: 1.5px;
    border: none;
}

#box {
    height: 2.2px;
    background-color: #dfdbdb;
    border: none;
    margin-bottom: 30px;
}

h2 {
    color: lightseagreen;
}

.bg {
    background-color: #dfdbdb;
    height: 100%;
}

#profile {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 30px;
}

#wrapper {
    width: 60%;
    height: 100%;
    margin: 50px auto;
    padding: 25px;
    background: white;
}

p {
    color: #666;
    font-size: 20px;
    line-height: 1.5em;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    background: #666;
    border-top: solid 7px;
    border-top-color: lightseagreen;
}