html {
    background: url(images/grad.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-size: 17px;
    line-height: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px 150px 25px;
    color: #7b8f51;
    font-size: 50px;
    font-family: "Brush Script MT", Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: right;
    display: inline;
}

li {
    display: inline;
    padding: 25px;
}

ul {
    margin-right: 150px;
}

ul a {
    color: green;
    text-decoration: none;
}

ul a:hover {
    color: #00800066;
}


hr {
    width: 80%;
    color: #7b8f51;
}

#profile {
    width: 300px;
    height: auto;
    float: left;
}

#wrapper {
    width: 60%;
    min-width: 300px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 30px;
    background: #5f745380;
}

p {
    margin: 60px 30px 60px 350px;
}

footer {
    color: white;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}